@import "slick-less"
@import "bootstrap"

=b_a()
  content: ''
  position: absolute

=m_a()
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto

=flex()
  display: flex
  display: -webkit-flex

=j-center()
  justify-content: center
  -webkit-justify-content: center

=j-beetween()
  justify-content: space-between
  -webkit-justify-content: space-between

=j-space-around()
  justify-content: space-around
  -webkit-justify-content: space-around

=j-end()
  justify-content: flex-end
  -webkit-justify-content: flex-end

=j-start()
  justify-content: flex-start
  -webkit-justify-content: flex-start

=ai-center()
  align-items: center
  -webkit-align-items: center

=ai-start()
  align-items: flex-start
  -webkit-align-items: flex-start

=ai-end()
  align-items: flex-end
  -webkit-align-items: flex-end

=as-center()
  align-self: center
  -webkit-align-self: center

=as-end()
  align-self: flex-end
  -webkit-align-self: flex-end

=as-start()
  align-self: flex-start
  -webkit-align-self: flex-start

=wrap()
  flex-wrap: wrap
  -webkit-flex-wrap: wrap

=col()
  flex-direction: column
  -webkit-flex-direction: column

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

=box-shadow($box-shadow)
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow

=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform

=transition($transition_default)
  transition: $transition_default
  -webkit-transition: $transition_default
  -moz-transition: $transition_default
  -o-transition: $transition_default


=animation($transition_default)
  animation: $transition_default
  -webkit-animation: $transition_default
  -moz-animation: $transition_default
  -o-animation: $transition_default



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
$roboto: 'Roboto', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap')
$rubik: 'Rubik', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap')
$poppins: 'Poppins', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap')
$fira_sans: 'Fira Sans', sans-serif



$transition_default: .3s linear

$text_black: #585858
$bg_black: #312F30
$red: #DB2C23
$grey: #585858


a, button
  +transition($transition_default)

a
  text-decoration: underline
  &:hover, &:focus
    text-decoration: none

button, input, .form_control
  outline: none

.form_control
  &:hover, &:focus
    box-shadow: none
    outline: none

button
  cursor: pointer
  &:hover, &:focus
    +box-shadow(none)
    outline: none


img, video
  max-width: 100%
*
  outline: none

*, *::before, *::after
  box-sizing: border-box

ul
  padding: 0
  margin: 0
  li
    list-style: none


*
  outline: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  &::-webkit-scrollbar
    -webkit-appearance: none
    width: 0
  &::-webkit-scrollbar:vertical
    width: 6px
    background: #c6c8ca
  &::-webkit-scrollbar-thumb
    @include border-radius(4px)
    background: $red


header
  width: 100%
  max-width: 1464px
  margin: auto
.container
  width: 100%
  max-width: 1374px

.nav_bar
  background: $bg_black




