.page_content_header
    .container
        ul.breadcrumb
            li
                a.home(href="#")
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.75 15.5V10.25H11.25V15.5H15.625V8.5H18.25L9.5 0.625L0.75 8.5H3.375V15.5H7.75Z" fill="#312F30"/>
                    </svg>

            li
                a(href="#") Главная
            li
                a(href="#") Изделия
            li
                a(href="#") Защитные конструкции
            li
                a(href="#") Передаточные лотки

        h1.page_title Передаточные лотки

.container
    .page_content
        .flex_container
            .aside
                -var s1=['Защитные конструкции','Алюминиевые перегородки','Офисная мебель'];
                -var s2=['Расчетно-кассовые центры','Пункты обмена валют','Кассовые кабины','Кассовые узлы','Двери металлические','Передаточные лотки','Сейфовые комнаты','Хранилища психотропных и наркотических средств','Оружейные комнаты'];
                .sidebar_menu
                    ul.menu
                        for s1_item, index in s1
                            li
                                a(href="#")=s1_item
                                if index===0
                                    ul.sub-menu
                                        for s2_item, index in s2
                                            li(class=(index===2)?'active':'')
                                                a(href="#")=s2_item


            .content
                h2 Передаточные лотки
                p Лотки передаточные используются в пунктах обмена валюты, кассовых кабинах, передаточных узлах, пунктах продажи билетов на вокзалах, в кассах кинотеатров, автовокзалах, железнодорожных кассах, кассах ломбардов и предназначены для передачи документов, денег или других материальных ценностей между кассиром и клиентом. Лотки передаточные представлены следующих видов:
                ul
                    li ЛП О 1 КП — лоток для картоприемника
                    li ЛФУ — лоток фасадный увеличенный
                    li ЛФД — лоток фасадный двухярусный
                    li ЛБК — лоток для билетных касс
                    li ЛЩК — лоток щелевой
                    li ЛЛЦ — лоток для логистических центров
                    li ЛП О 1 Н — лоток передаточный стандартный, пулестойкий (сертифицирован)
                    li ЛП О 1 Н-А4 — лоток передаточный повышенной вместимости, для передачи документов формата А4 (сертифицирован)
                    li ЛП ПА — лоток передаточный, установленный в автомобиль специальный грузовой «Передвижная автозаправочная»
                    li ЛП БЖД — лоток передаточный для билетных касс БелЖД
                    li ЛП ОДК — лоток передаточный с большой монетницей и отдельно двигающейся крышкой
                    li ЛП ПП — лоток передаточный (фасадный) для постов на пограничных переходах

                h2 Фото передаточных лотков
                .works_list
                    -for (var w = 1; w <= 5; w++)
                         .works_list_item
                            picture
                                a(href=dir + "work.png" data-fancybox="gallery")
                                    img(src=dir + "work.png")

                .product_feedback_box
                    .flex_container
                        .col_left
                            .title Вы можете рассчитать предварительную стоимость вашего заказа
                            .subtitle Нажмите “Рассчитать заказ” и заполните форму. Мы сообщим вам предварительную стоимость вашего заказа
                        .col_right
                            button.btn_default(data-toggle="modal" data-target="#feedback") Рассчитать заказ

