-var m_cat=['Защитные конструкции','Алюминиевые перегородки'];
-var m_cat_img=['pr_1','pr_2'];
-var m_cat2=['Сейфовые комнаты','Офисная мебель'];
-var m_cat2_img=['pr_3','pr_4'];
main
    .container
        .m_catalog
            for mcat_item, index in m_cat
                .m_catalog_item
                    a.m_catalog_item_link.large(href="#" style="background-image:url("+dir+m_cat_img[index]+".png)")
                        .m_catalog_item_content
                            .title=mcat_item
                            if index===0
                                .desc Являемся одним из ведущих производителей защитных конструкций
                            .more Подробнее
            .m_catalog_item
                for mcat_item2, index in m_cat2
                    a.m_catalog_item_link(href="#" style="background-image:url(" + dir+m_cat2_img[index]+".png)")
                        .m_catalog_item_content
                            .title=mcat_item2
                            .more Подробнее




        .main_works
            .main_h2 Наши работы
            .main_excerpt Мы являемся сертифицированным производителем защитных конструкций для банков
            .works_list
                -for(var w=1;w<=4;w++)
                     .works_list_item
                        picture
                            img(src=dir+"w_"+w+".png")

        .main_partners
            .main_h2 С нами сотрудничают
            .main_excerpt Мы являемся одной из ведущих компаний-производителей инженерно-технических средств защиты банков
            .partners_list
                -for (var w = 1; w <= 10; w++)
                     .partners_list_item
                        picture
                            img(src=dir + "image59.png")

        .main_form_box
            .flex_container
                .col_left
                    .title Есть вопросы?
                    .subtitle ООО «ТЕХНОСТАРГРУПП» - одна из ведущих компаний-производителей средств защиты банков
                .col_right
                    form
                        .row.main_form_row
                            .col-12.col-sm-6.col-xl-4.field
                                input.form-control(type="text" placeholder="Ваше имя")
                            .col-12.col-sm-6.col-xl-4.field
                                input.form-control(type="text" placeholder="Телефон")
                            .col-12.col-sm-12.col-xl-4.field
                                input.form-control(type="text" placeholder="E-mail")
                            .col-12
                                .row.j_end
                                    .col-12.col-sm-12.col-xl-4
                                        button.btn_default(type="submit") Отправить

        .main_seotext
            .main_h2 Серийное производство сертифицированных изделий
            .desc
                p Работаем на отечественном рынке банковского оборудования с 2003 года и являемся сертифицированным производителем защитных конструкций для банков, кредитных организаций, торговых компаний, автозаправочных станций и др.
                ul

                    li Приоритетное направление деятельности фирмы — изготовление, продажа и установка оборудования для банков и офисов: Расчетно-кассовые центры, пункты обмена валют, кассовые кабины, кассовые узлы, двери металлические, передаточные лотки, сейфовые комнаты,  хранилища психотропных и наркотических средств, оружейные комнаты и пр.

                    li В реализации проектных решений ООО «ТЕХНОСТАРГРУПП» использует как свои разработки, так и передовые технологии известным фирм производителей, тщательно изучает и учитывает индивидуальную специфику каждого отдельного проекта, придерживается разумной ценовой политики. Оборудование высокого качества и квалифицированный штат сотрудников, позволяет изготавливать изделия любой сложности, качественно и в кратчайшие сроки.

                    li Дизайнерская служба предприятия по требованиям Заказчика разрабатывает изделия с учётом корпоративного стиля Заказчика и эстетического восприятия изделий.

                    li ООО «ТЕХНОСТАРГРУПП» имеет репутацию надежного и профессионального партнера.

                    li За прошедшие годы нашей организацией было переоборудовано и построено множество кассовых узлов, операционных касс и пунктов обмена валюты.

                p Наше предприятие расположено по адресу: Минская обл., г.Борисов, ул. Р.Люксембург, 41-А, пом 1-1.