<!DOCTYPE html>
html
    head
        - var page = { title: 'category' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/category/content
        include inc/footer
        include inc/scripts.pug