<!DOCTYPE html>
html
    head
        - var page = { title: 'search' }
        include inc/head.pug
    body
        include inc/header.pug
        include inc/search/content
        include inc/footer
        include inc/scripts.pug