-var nav=['Изделия','Защитные конструкции','Алюминиевые перегородки','Офисная мебель','Сертификаты','Контакты']
header
    .container
        .top_bar
            .col_left
                ul
                    li
                        a.email(href="mailto:tehnostargrupp@tut.by") tehnostargrupp@tut.by
            .col_right
                ul
                    li
                        a.phone(href="tel:+375 44 708-90-90") +375 44 708-90-90 <span>(Минск)</span>
                    li
                        a.phone(href="tel:+375 29 662-19-98") +375 29 662-19-98 <span>(Борисов)</span>
                    li
                        a.feedback(href="#") Связаться с нами

    .nav_bar
        .container
            .flex_container
                .logo
                    a(href='/')
                        img(src=dir+"logo.png")

                .main_menu
                    .mm_close
                    ul.menu
                        for nav_item, index in nav
                            li
                                a(href="#")=nav_item
                                if index===0||index===1
                                    ul.sub_menu
                                        -for(var s=1;s<=5;s++)
                                            li
                                                a(href="#") Link #{s}
                ul.right_menu
                    li
                        .search_box.dropdown
                            button.search_btn.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            .dropdown-menu(aria-labelledby="dropdownMenuButton")
                                form.search_form
                                    input.form-control(type="text" placeholder="Введите ваш запрос")
                                    button.search_form_btn(type="submit")

                    li.d-none
                        a(href="#") Связаться с нами
                    li.mm_btn
                        button.hamburger
                            span
                            span
                            span
